Checks: >-
  bugprone-*,
  performance-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-loop-convert,
  readability-braces-around-statements,
  clang-diagnostic-*,
  -clang-diagnostic-pragma-once-outside-header,
  -clang-diagnostic-pre-c++17-compat,
  -clang-diagnostic-c++98-compat-pedantic

WarningsAsErrors: ''

HeaderFilterRegex: '^(SFML1/)?(include|src)/'

FormatStyle: none

CheckOptions:
  - key: modernize-use-override.IgnoreDestructors
    value: '1'