BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

# Отступы
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Длина строки
ColumnLimit: 100

# Скобки — { на той же строке
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

# Пространства имён
NamespaceIndentation: All
FixNamespaceComments: true

# Выравнивание по столбикам не включаем
AlignConsecutiveDeclarations: None
AlignConsecutiveAssignments: None
AlignConsecutiveMacros: None

# Пробелы
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceAfterCStyleCast: true

# Указатели и ссылки прилеплены к типу
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# include-ы
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # 0) PCH — всегда первым
  - Regex: '^"pch.h"'
    Priority: -1

  # 1) SFML-хедеры
  - Regex: '^<SFML/.*>'
    Priority: 1

  # 2) Стандартная библиотека
  - Regex: '^<.*>'
    Priority: 0

  # 3) third_party
  - Regex: '^"third_party/.*"'
    Priority: 2

  # 4) Хедеры движка/игр
  - Regex: '^"(core|entities|graphics|utils)/.*"'
    Priority: 3

  # 5) Всё остальное в кавычках
  - Regex: '^".*"'
    Priority: 4

# Комментарии — не трогаем текст, чтобы не ломать смысл
ReflowComments: false